*{
	font-family: 'Open Sans Light';
	letter-spacing:.05em;
}
html{
	height: 100%
}
body{
	height: 100%
}
.container{
	height: 100%;
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.login-wrapper{
	width: 500px;
	height: 600px;
	background-color: #fff;
	position: relative;
	left: 50%;
	top: 50%;
	padding: 20px;
	border-radius: 15px;
	transform: translate(-50%,-50%);
}

.login-wrapper .header{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 200px;
}

.input-item{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	border: 0;
	padding: 10px;
	border-bottom: 1px solid rgb(125,125,125);
	box-sizing: border-box;
	font-size: 15px;
}
/*伪元素*/
.input-item::placeholder{
	/*字体样式改为大写*/
	text-transform: uppercase;
}

.btn{
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-top: 40px;
	background-image: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	/*background-image: linear-gradient(to right,#96e6a1,#d4fc79);*/
	border-radius: 5px;
	background-size: 400%;
	/*z-index: 1;*/
	position: relative;
}
.btn:hover{
	animation: animate 6s linear infinite;
}
@keyframes animate{
	0%{
		background-position: 0%;
	}

	100%{
		background-position: 400%;
	}

}
.btn:before{
	content: '';
	position: absolute;
	background-image: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 5px;	
	z-index: -1;
}
.btn:hover:before{
	filter: blur(20px);
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
}
.msg{
	text-align: center;
	line-height: 80px;
}
.msg a{
	color: #96e6a1;
}
